// estructuro header
header{
     background-image: $color-menu;
     transition-property: all ;
     transition-duration: 100ms ;
     nav{
        .navbar-brand{
            transition-property: all;
            transition-duration: 100ms;
            &:hover{
                transform: scale(1,2);
                }
            }
            
            .container-fluid{
                        .nav-link{
                                transition-property: all;
                                transition-duration: 100ms;
                                 &:hover{
                                 transform: scale(1,2);
                                 }   
                                }
                            }
     
        }


      }
   


// estructuro main

main{
    @include flex;

    h1{
        color: blueviolet;
        text-align: center;
        margin-bottom: 17px;
        margin-top: 20px;
        grid-area: h1;
    }


    img{
        width: 70%;
        grid-area: img;
        
    }

    h2{
        color: black;
        text-align: center;
        font-size: xx-large;
        border: 4px solid blueviolet;
        margin-top: 20px;
       grid-area: h2;
    }
    p{
        padding: 1rem;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        grid-area: p;
        
    }


 }


 //estructuro footer
 footer{
    h3{
        color: #808080;
        font-size: small;
        text-align: center;
        margin-top: 50px;
    }
 }
 