@media screen and (min-width:1024px){
    main{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-items: center;
        grid-template-areas: 
        "h1 h1 h1  "
        "img img h2  "
        "img img p "
        "h3 h3 h3 " ;
       
    }
}
    
